body {
    background-color:  #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    }

.page-logo {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3rem;
    letter-spacing: 3%;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
}

.page-menu-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 2%;
    color: #2E2F42;
    text-decoration: none;
    
}

.page-menu-list li {
    list-style-type: none;
}

.page-menu-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 2%;
    text-decoration: none;
}

.page-menu-list a:hover {
    color: #404BBF;
}

.page-menu-list a:focus{
    color: #404BBF
}

.page-icon {
    cursor: pointer;
    line-height: 1.5rem;
}

.page-text main p{
    line-height: 3,75rem;
}

.page-picture img{
    height: 260;
    width: 240;
}

.page-picture h2 {
    line-height: 2.5rem;
}

.page-picture li h3 {
    line-height: 1.5rem;
}

.page-picture li p {
    line-height: 1.5rem;
}

.page-part-two h2{
    line-height: 1.5rem;
}

.page-part-two p{
    line-height: 1.5rem;
}

.page-part-three h2 {
    line-height: 2.5rem;
}

.page-part-three li h3 {
    line-height: 1.5rem;
}

.page-part-three {
    line-height: 1.5rem;
}

.page-last a {
    line-height: 1.3rem;
}

.page-last p {
    line-height: 1.5rem;
}